.car-compare {
    margin-bottom: 40px;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;

        .heading-2 {
            margin-bottom: 0;
        }
    }
}