.featured {
  margin-bottom: 32px;

  .swiper-wrapper {
    padding: 16px 0px;
  }

  .chakra-tabs__tab-panel {
    position: relative;
  }

  .slide-btn__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    flex: 1;
  }

  .car-card {
    &__info {
      .info {
        &:nth-child(n + 4) {
          display: none;
        }

        &:nth-child(3)::after {
          display: none;
        }
      }
    }
  }
}
