.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.cu-btn {
  height: 40px;
}

.cu-input {
  height: 40px;
  border: 1px solid #eeeeee;
  padding: 0 16px;
  border-radius: 4px;

  &:focus {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__control {
  border: 1px solid #eeeeee;
  background-color: #f2f2f2;

  &:hover {
    border-color: #eeeeee;
  }

  &:focus {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__control--is-focused {
  border-color: var(--cu-primary-1-color);
  box-shadow: none;

  &:hover {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__value-container {
  height: 46px;
  border: none;
}

.cu-select__option--is-selected {
  font-weight: 700;
}

.cu-select__indicator-separator {
  display: none;
}

.cu-select__indicator svg {
  transition: 0.3s ease-in-out;
}

.cu-select__control--menu-is-open {
  .cu-select__indicator svg {
    transform: rotate(-180deg);
  }
}

.heading {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  display: block;
  font-weight: 500;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    background-color: var(--cu-primary-1-color);
    border-radius: 4px;
    content: '';
    display: block;
    height: 4px;
    width: 80px;
    margin-bottom: 20px;
  }
}

.tabs__wrapper {
  position: relative;
  display: flex;

  .chakra-tabs__tab {
    padding: 0;
    margin-right: 32px;

    &[aria-selected='true'] {
      font-weight: 500;
      color: var(--cu-primary-color);
    }
  }

  .chakra-tabs__tab-indicator {
    bottom: -4px;
  }
}

.chakra-tabs {
  &__tab-panel {
    padding: 0;
  }
}

.slide-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slide-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 10;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  border: 1px solid var(--cu-border-color);

  svg {
    fill: #666;
  }

  &:hover {
    background-color: var(--cu-border-color);
    opacity: 1;
  }
}

.view-more {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--cu-primary-color);
  font-weight: 500;

  svg {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    fill: var(--cu-primary-color);
  }

  &:hover {
    color: var(--cu-primary-1-color);

    svg {
      fill: var(--cu-primary-1-color);
    }
  }
}
