.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.cu-btn {
  height: 40px;
}

.cu-input {
  height: 40px;
  border: 1px solid #eeeeee;
  padding: 0 16px;
  border-radius: 4px;

  &:focus {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__control {
  border: 1px solid #eeeeee;
  background-color: #f2f2f2;

  &:hover {
    border-color: #eeeeee;
  }

  &:focus {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__control--is-focused {
  border-color: var(--cu-primary-1-color);
  box-shadow: none;

  &:hover {
    border-color: var(--cu-primary-1-color);
  }
}

.cu-select__value-container {
  height: 46px;
  border: none;
}

.cu-select__option--is-selected {
  font-weight: 700;
}

.cu-select__indicator-separator {
  display: none;
}

.cu-select__indicator svg {
  transition: 0.3s ease-in-out;
}

.cu-select__control--menu-is-open {
  .cu-select__indicator svg {
    transform: rotate(-180deg);
  }
}

.heading-2 {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  display: block;
  font-weight: 500;

  &::after {
    position: absolute;
    background-color: var(--cu-primary-1-color);
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
  }
}
