.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.cu-btn {
  height: 40px;
}

.cu-input {
  height: 40px;
  border: 1px solid #e0e0e0;
  padding: 0 16px;
  border-radius: 4px;
  color: var(--cu-title-color);
  transition: 0.2s ease-in-out;

  &:focus {
    border-color: var(--cu-border-focus-color);
    background-color: #fff;
  }

  &::placeholder {
    color: #999;
  }
}

.cu-select__control {
  border: 1px solid var(--cu-border-color);
  background-color: #ffffff;
  transition: 0.2s ease-in-out;

  &:hover {
    border-color: var(--cu-border-focus-color);
  }

  &:focus {
    border-color: var(--cu-border-focus-color);
    background-color: #fff;
  }
}

.cu-select__placeholder {
  color: #999;
}

.cu-select__control--is-focused {
  box-shadow: none;

  &:hover {
    border-color: var(--cu-border-focus-color);
    background-color: #fff;
  }
}

.cu-select__single-value {
  color: var(--cu-title-color);
}

.cu-select__value-container {
  height: 46px;
  border-width: 1px;
  border: none;
}

.cu-select__option--is-selected {
  font-weight: 700;
}

.cu-select__indicator-separator {
  display: none;
}

.cu-select__indicator svg {
  transition: 0.3s ease-in-out;
}

.cu-select__control--menu-is-open {
  .cu-select__indicator svg {
    transform: rotate(-180deg);
  }
}

.heading {
  font-size: 28px;
  line-height: 32px;
  display: block;
  font-weight: 500;
  margin-bottom: 16px;
}

.tabs__wrapper {
  position: relative;
  display: flex;

  .chakra-tabs__tab {
    padding: 0;
    margin-right: 32px;

    &[aria-selected='true'] {
      font-weight: 500;
      color: var(--cu-primary-color);
    }
  }

  .chakra-tabs__tab-indicator {
    bottom: -4px;
  }
}

.chakra-tabs {
  &__tab-panel {
    padding: 0;
  }
}

.slide-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slide-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 10;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  border: 1px solid var(--cu-border-color);

  i {
    color: #666;
  }

  &:hover {
    background-color: var(--cu-border-color);
    opacity: 1;
  }
}

.view-more {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--cu-primary-color);
  font-weight: 500;

  i {
    font-size: 14px;
    margin-left: 4px;
    color: var(--cu-primary-color);
  }

  &:hover {
    color: var(--cu-primary-1-color);

    svg {
      fill: var(--cu-primary-1-color);
    }
  }
}

.cu-btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--cu-primary-color);
  color: #fff;
  border-radius: 4px;
  transition: 0.2s ease-in-out;

  i {
    color: #fff;
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--cu-primary-1-color);
  }
}

.chakra-input {
  border-radius: 4px;
}

.cu-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__content {
    width: 80%;
  }

  &__sidebar {
    width: 20%;
  }
}

.star-ratings {
  display: flex !important;
  align-items: center;
}

.star-container {
  padding: 0 2px !important;
}
