.car-card {
  padding: 12px;
  box-shadow:
    0 0 0 1px #f0f0f0 inset,
    0 4px 8px 0 rgba(38, 38, 38, 0.03);
  border-radius: 4px;
  background-color: #fff;
  transition: 0.2s ease-in-out;

  &__img {
    position: relative;
    height: 164px;

    img {
      object-fit: contain;
    }
  }

  &__body {
    .brand {
      position: relative;
      padding-left: 8px;
      font-size: 12px;
      margin-bottom: 8px;

      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--cu-primary-color);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    .name {
      font-weight: 700;
    }

    .price {
      font-size: 14px;
      font-weight: 500;
      color: var(--cu-secondary-color);
    }

    .actions {
      display: flex;
      gap: 16px;
      margin-top: 16px;

      a {
        flex: 1;
        border: 1px solid var(--cu-primary-color);
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        color: var(--cu-primary-color);
        font-weight: 500;
        font-size: 14px;
      }

      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid var(--cu-border-color);
        transition: 0.2s ease-in-out;

        svg {
            fill: #444;
        }

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-12px);
  }
}
