.car-card {
  padding: 12px;
  box-shadow:
    0 0 0 1px #f0f0f0 inset,
    0 4px 8px 0 rgba(38, 38, 38, 0.03);
  border-radius: 4px;
  background-color: #fff;
  transition: 0.2s ease-in-out;

  &__img {
    position: relative;
    height: 164px;

    img {
      object-fit: contain;
    }
  }

  &__body {
    .brand {
      position: relative;
      padding-left: 8px;
      font-size: 12px;
      margin-bottom: 8px;

      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--cu-primary-color);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    .name {
      font-weight: 700;
    }

    .price {
      font-size: 14px;
      font-weight: 500;
      color: var(--cu-secondary-color);
    }

    .actions {
      display: flex;
      gap: 16px;
      margin-top: 16px;

      .view {
        flex: 1;
        border: 1px solid var(--cu-primary-color);
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        color: var(--cu-primary-color);
        font-weight: 500;
        font-size: 14px;
      }

      .save {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid var(--cu-border-color);
        transition: 0.2s ease-in-out;

        svg {
          fill: #444;
        }

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}

.car-card--view-grid {
  &:hover {
    transform: translateY(-12px);
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.08);
  }
}

.car-card--view-list {
  display: flex;
  gap: 20px;
  position: relative;
  overflow: hidden;

  .car-card__img {
    width: 250px;
  }

  .car-card__body {
    flex: 1;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .price {
      position: absolute;
      top: 12px;
      right: 0;
      height: 48px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: relative;
        color: #fff;
        z-index: 100;
        font-size: 20px;
      }

      &::after {
        position: absolute;
        content: '';
        width: 120%;
        height: 100%;
        transform: skewX(-30deg);
        background-color: var(--cu-primary-color);
      }
    }
  }

  .information {
    display: flex;

    .info {
      padding: 0 32px;
      border-left: 1px solid var(--cu-border-color);

      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        svg {
          fill: #666;
        }
      }

      &__content {
        font-weight: 700;
        text-align: center;
      }

      &:first-child {
        border-left: none;
      }
    }
  }

  .actions {
    flex: 1;
    justify-content: space-between;
    align-items: end;

    .view {
      flex: unset;
      padding: 0 40px;
    }
  }
}
