.car-card {
  border: 1px solid var(--cu-border-color);
  border-radius: 4px;
  background-color: #fff;
  transition: 0.2s ease-in-out;

  &__img {
    position: relative;
    width: 100%;
    height: 200px;

    img {
      object-fit: cover;
    }

    .save {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  }

  .save {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--cu-border-color);
    transition: 0.2s ease-in-out;
    background-color: #fff;

    svg {
      fill: #444;
      width: 14px;
      height: 14px;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__body {
    .brand {
      position: relative;
      padding: 0 24px;
      font-size: 12px;
      margin-bottom: 8px;

      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--cu-primary-color);
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
      }
    }

    .name {
      padding: 0 16px;
      font-size: 18px;
      font-weight: 700;

      &:hover {
        color: var(--cu-primary-color);
      }
    }

    .price {
      padding: 0 16px;
      font-size: 20px;
      font-weight: 500;
      color: var(--cu-secondary-color);
    }

    .actions {
      display: flex;
      gap: 16px;
      margin-top: 16px;

      .view {
        flex: 1;
        border: 1px solid var(--cu-primary-color);
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        color: var(--cu-primary-color);
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  &__info {
    display: flex;
    border-top: 1px solid var(--cu-border-color);

    .info {
      width: calc(100% / 3);
      border-right: 1px solid var(--cu-border-color);
      display: flex;
      padding: 12px 16px;
      font-size: 12px;

      svg {
        fill: #666;
        margin-right: 8px;
      }

      &__title {
        white-space: nowrap;
      }

      &__content {
        white-space: nowrap;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &:hover {
    box-shadow: 0px 4px 16px 0px rgba(44, 44, 44, 0.08);
  }
}

.car-card--view-list {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;

  .car-card__img {
    width: 300px;
    flex-shrink: 1;
    height: auto;

    .save {
      display: none;
    }
  }

  .car-card__body {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;

    .brand {
      display: none;
    }

    .name {
      font-size: 20px;
      font-weight: 500;
      margin: 12px 0;
    }

    .price {
      position: absolute;
      top: 12px;
      right: 0;
      height: 48px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: relative;
        color: #fff;
        z-index: 100;
        font-size: 20px;
      }

      &::after {
        position: absolute;
        content: '';
        width: 120%;
        height: 100%;
        transform: skewX(-30deg);
        background-color: var(--cu-primary-color);
      }
    }
  }

  .car-card__info {
    border-top: none;
    margin: 16px 0;

    .info {
      display: flex;
      flex-direction: column;
      padding: 0 16px;

      &__title {
        display: flex;
      }

      &__content {
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-top: 4px;
      }
    }
  }

  .actions {
    flex: 1;
    justify-content: space-between;
    align-items: end;

    .view {
      flex: unset;
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .car-card--view-list {
    .car-card__img {
      width: 250px;
    }

    .car-card__body {
      width: calc(100% - 250px);
    }

    .information {
      .info {
        display: flex;
        padding: 0 12px;

        &__title {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .car-card--view-list {
    flex-wrap: wrap;

    .car-card__img {
      width: 100%;
      height: 200px;
    }

    .car-card__body {
      width: 100%;
      padding: 0;

      .name {
        margin: 0;
        padding: 0 12px;
      }

      p.price {
        position: relative;
        width: auto;
        height: auto;
        justify-content: flex-start;
        top: 0;
        padding: 0 12px;

        span {
          color: var(--cu-primary-color);
        }

        &::after {
          display: none;
        }
      }

      .information {
        order: 2;

        .info {
          width: 20%;
          border: 1px solid var(--cu-border-color);
          padding: 12px 0;
          justify-content: center;

          &__content {
            font-weight: 500;
          }
        }
      }

      .actions {
        padding: 0 12px;
      }
    }
  }
}
